{% extends 'base.html.twig' %}

{% block title %}Click & Collect{% endblock %}

{% block body %}

<button onclick="window.location.href='/register';">
    Inscription
</button>

<button onclick="window.location.href='/login';">
    Connexion
</button>

<div>
</div>

{% endblock %}