{% extends 'base.html.twig' %}

{% block title %}Click & Collect{% endblock %}

{% block body %}


<div class="jumbotron text-center">
    <h2>Pas encore Client inscrivez-vous ! </h2>
</div>


{% endblock %}