{% extends 'base.html.twig' %}

{% block title %}New RendezVous{% endblock %}

{% block body %}
    <center>
    <h1>Prenez rendez-vous</h1>

    {{ include('rendez_vous/_form.html.twig') }}

    <a href="{{ path('rendez_vous_index') }}">revenir à la liste de rendez-vous</a>
    </center>
{% endblock %}
