<h3>Commande Confirmée!</h3>

Bonjour! Votre commande a été validée. Nous vous donnons rendez-vous le {{ jour|date('d/m/Y') }} à {{ horaire }} pour la récupérer.

Pour accéder aux détails de votre commande, connectez-vous sur la page "Vos Commandes".
Merci de votre confiance!